html{
    font-family: sans-serif;
}
body{
    width: 300px;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #212121;
}
.lastResult{
    color: white;
    padding: 7px;
}
.guesses{
    color: white;
    padding: 7px;
}
button{
    background-color: #14141414;
    color: #fff;
    
}