#content{
    height: 500px;
    width: 500px;
}


.contentBox{
    text-align: center;
    border: 20px solid black;

}

footer{
    background-color: black;
    color: white;
    text-align: center;
}